*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

#header {
    padding: 10px;
    margin-bottom: 30px;
    float: left;
}

#highscores {
    color: black;
    float: left;
    text-align: left;
}

#timer {
    float: right;
    text-align: right;
}

#main {
    margin: 0 auto;
    float: left;
}

#content {
    margin: 0;
    padding: 0;
}

#content h1, p {
    text-align: center;
}

#quiz {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

#quiz h4 {
    margin-bottom: 15px;
    text-align: left;
}

#quiz p {
    text-align: left;
}

#quiz ul {
    list-style-type: none;
    padding: 0;
}

#quiz li {
    color: white;
    background-color: rgb(90, 8, 90);
    margin-bottom: 5px;
}

#quiz li:hover {
    background-color: rgb(223, 144, 223);
}

#quiz input {
    margin: auto;
}

#quiz button {
    color: white;
    background-color: rgb(90, 8, 90);
    margin: auto;
}

#quiz button:hover {
    background-color: rgb(223, 144, 223);
}

#button {
    color: white;
    background-color: rgb(90, 8, 90);
    margin: auto;
    display: flex;
}

#button:hover {
    background-color: rgb(223, 144, 223);
}